{% load static %}
<!-- VENDOR CSS -->
<link rel="stylesheet" href="{% static 'admin/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/assets/vendor/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/assets/vendor/animate-css/vivify.min.css' %}">

<link rel="stylesheet" href="{% static 'admin/assets/vendor/c3/c3.min.css' %}"/>
<link rel="stylesheet" href="{% static 'admin/assets/vendor/toastr/toastr.min.css' %}">

<!-- MAIN CSS -->
<link rel="stylesheet" href="{% static 'admin/assets/css/site.min.css' %}">
