{% load static %}
<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'admin/assets/vendors/css/vendors.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/assets/vendors/css/charts/apexcharts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/assets/vendors/css/extensions/dragula.min.css' %}">
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/bootstrap-extended.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/colors.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/components.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/themes/dark-layout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/themes/semi-dark-layout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/plugins/PersianDatepicker/jquery.md.bootstrap.datetimepicker.style.css' %}">
<!-- END: Theme CSS-->
