{% extends "administrator/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block style %}

{% endblock %}

{% block navigation %}
<li class="breadcrumb-item active">Dashboard v1</li>
{% endblock %}

{% block content %}
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
              <!-- Left col -->
              <section class="col-lg">
                <!-- Custom tabs (Charts with tabs)-->
                <div class="card">
                  <div class="card-header d-flex p-0">
                    <h3 class="card-title p-3">
                      <i class="fas fa-chart-pie mr-1"></i>
                      Sales
                    </h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </section>
              <!-- /.Left col -->
            </div>
            <!-- /.row (main row) -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
{% endblock %}

{% block script %}

{% endblock %}