{% extends "administrator/base.html" %}
{% load static %}

{% block style %}
<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/core/menu/menu-types/vertical-menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/pages/page-user-profile.css' %}">
<!-- END: Page CSS-->
{% endblock %}

{% block content %}
<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <!-- page user profile start -->
      <section class="page-user-profile">
        <div class="row">
          <div class="col-12">
            <!-- user profile heading section start -->
            <div class="card">
              <div class="card-content">
                <div class="user-profile-images">
                  <!-- user timeline image -->
                  <img src="{% static 'admin/assets/images/profile/post-media/profile-banner.jpg' %}" class="img-fluid rounded-top user-timeline-image" alt="user timeline image">
                  <!-- user profile image -->
                  <img src="{% static 'admin/assets/images/portrait/small/avatar-s-16.jpg' %}" class="user-profile-image rounded" alt="user profile image" height="140" width="140">
                </div>
                <div class="user-profile-text">
                  <h4 class="mb-0 text-bold-500 profile-text-color">{{ user.first_name }} {{ user.last_name }}</h4>
                  <small>توسعه دهنده</small>
                </div>
                <!-- user profile nav tabs start -->
                <div class="card-body px-0">
                  <ul class="nav user-profile-nav justify-content-center justify-content-md-start nav-tabs border-bottom-0 mb-0" role="tablist">
                    <li class="nav-item pb-0">
                      <a class="nav-link d-flex px-1 active align-items-center" id="feed-tab" data-toggle="tab" href="#feed" aria-controls="feed" role="tab" aria-selected="true"><i class="bx bx-home"></i><span class="d-none d-md-block">خوراک</span></a>
                    </li>
                    <li class="nav-item pb-0">
                      <a class="nav-link d-flex px-1 align-items-center" id="activity-tab" data-toggle="tab" href="#activity" aria-controls="activity" role="tab" aria-selected="false"><i class="bx bx-user"></i><span class="d-none d-md-block">فعالیت</span></a>
                    </li>
                    <li class="nav-item pb-0">
                      <a class="nav-link d-flex px-1 align-items-center" id="friends-tab" data-toggle="tab" href="#friends" aria-controls="friends" role="tab" aria-selected="false"><i class="bx bx-message-alt"></i><span class="d-none d-md-block">دوستان</span></a>
                    </li>
                    <li class="nav-item pb-0 mr-0">
                      <a class="nav-link d-flex px-1 align-items-center" id="profile-tab" data-toggle="tab" href="#profile" aria-controls="profile" role="tab" aria-selected="false"><i class="bx bx-copy-alt"></i><span class="d-none d-md-block">پروفایل</span></a>
                    </li>
                  </ul>
                </div>
                <!-- user profile nav tabs ends -->
              </div>
            </div>
            
            <!-- user profile nav tabs profile start -->
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">اطلاعات کاربر</h4>
              </div>
              <div class="card-content">
                
                <div class="card-body">
                  <form class="form form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="form-body">
                      </br>

                      <div class="row">
                        <div class="col-lg-4 mb-1">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">{{ user_form.first_name.label }}</span>
                              </div>
                              {{ user_form.first_name }}
                            </div>
                        </div>
                        <div class="col-lg-4 mb-1">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">{{ user_form.last_name.label }}</span>
                              </div>
                              {{ user_form.last_name }}
                            </div>
                        </div>
                        <div class="col-lg-4 mb-1">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">{{ user_form.email.label }}</span>
                              </div>
                              {{ user_form.email }}
                            </div>
                        </div>
                        <div class="col-lg-4 mb-1">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">{{ profile_form.mobile.label }}</span>
                              </div>
                              {{ profile_form.mobile }}
                            </div>
                        </div>
                        <div class="col-lg-4 mb-1">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">{{ profile_form.birthday.label }}</span>
                              </div>
                              {{ profile_form.birthday }}
                            </div>
                        </div>
                        <div class="col-lg-4 mb-1">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">{{ profile_form.address.label }}</span>
                              </div>
                              {{ profile_form.address }}
                            </div>
                        </div>

                        <div class="col-sm-12 d-flex justify-content-end">
                          <button type="submit" class="btn btn-primary mr-1 mb-1">ثبت</button>
                          <button type="reset" class="btn btn-light-secondary mr-1 mb-1">بازنشانی</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- user profile nav tabs profile ends -->
          </div>
        </div>
      </section>
      <!-- page user profile ends -->

    </div>
  </div>
</div>
<!-- END: Content-->

{% endblock %}

{% block script %}
<!-- BEGIN: Page JS-->
<script src="{% static 'admin/assets/js/scripts/pages/page-user-profile.js' %}"></script>
<!-- END: Page JS-->
{% endblock %}
    