{% extends "administrator/base.html" %}


{% block title %}حساب کاربری{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
  <div class="block-header">
    <div class="row clearfix">
      <div class="col-md-6 col-sm-12">
        <h1>حساب کاربری</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row clearfix">

      <div class="col-md-12">
        <div class="card social">
          <div class="profile-header d-flex justify-content-between justify-content-center">
            <div class="d-flex">
              <div class="mr-3">
                  <img src="https://via.placeholder.com/140x140" class="rounded" alt="">
              </div>
              <div class="details">
                  <h5 class="mb-0">{{ user.first_name }} {{ user.last_name }}</h5>
                  <span class="text-light">طراح رابط کاربری</span>
              </div>                                
            </div>
          </div>
        </div>                    
      </div>  

      <div class="col-lg-9 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>اطلاعات حساب کاربری</h2>
          </div>

          <div class="body">
            <form method="POST">
              {% csrf_token %}
              <div class="row clearfix">
                <div class="form-group col-lg-6 col-md-12">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ user_form.first_name.label }}</span>
                    </div>
                    {{ user_form.first_name }}
                  </div>
                </div>
                <div class="form-group col-lg-6 col-md-12">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ user_form.last_name.label }}</span>
                    </div>
                    {{ user_form.last_name }}
                  </div>
                </div>
              </div>

              <div class="row clearfix">
                <div class="form-group col-lg-6 col-md-12">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ user_form.email.label }}</span>
                    </div>
                    {{ user_form.email }}
                  </div>
                </div>
              </div>

              <div class="row clearfix">
                <div class="form-group col-lg-6 col-md-12">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ profile_form.mobile.label }}</span>
                    </div>
                    {{ profile_form.mobile }}
                  </div>
                </div>
                <div class="form-group col-lg-6 col-md-12">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ profile_form.birthday.label }}</span>
                    </div>
                    {{ profile_form.birthday }}
                  </div>
                </div>
              </div>

              <div class="row clearfix">
                <div class="form-group col-lg-12 col-md-12">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ profile_form.address.label }}</span>
                    </div>
                    {{ profile_form.address }}
                  </div>
                </div>
              </div>
              <input type="submit" class="btn btn-round btn-primary" value="بروزرسانی">
            </form>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-5">
        <div class="card">
          <div class="header">
            <h2>اطلاعات</h2>
          </div>
          <div class="body">
              
          </div>
        </div>                    
      </div>

    </div>      
  </div>
{% endblock %}

{% block script %}

{% endblock %} 