{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Clean Blog - {% block title %}{% endblock %}</title>
    {% include 'blog/style.html' %}
</head>

  <body>
    {% include 'blog/navigation.html '%}

    {% include 'blog/header.html' %}

    {% block content %}

    {% endblock %}

    <hr />

    {% include 'blog/footer.html' %}

    {% include 'blog/script.html' %}
  </body>
</html>
