{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">

                    <h2 class="section-heading">{{ post.title }}</h2>

                    {{ post.body|linebreaks }}

                    <p>
                        <a href="{% url 'blog:post_share' post.id %}">
                        Share this post
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </article>
{% endblock %}